@page
@model KnowYourAge.Pages.ResultModel

@section Styles {
    <link rel="stylesheet" href="~/css/custom.styles.css" asp-append-version="true" />
}

<div class="container mx-auto">
    <h1 class="text-center mt-5 mb-4">Result</h1>
    <div class="card bg-light mb-4 col-md-6 mx-auto">
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Age in Days</th>
                            <td>@Model.AgeInDays</td>
                        </tr>
                        <tr>
                            <th>Age in Weeks</th>
                            <td>@Model.AgeInWeeks</td>
                        </tr>
                        <tr>
                            <th>Age in Months</th>
                            <td>@Model.AgeInMonths</td>
                        </tr>
                        <tr>
                            <th>Age in Years</th>
                            <td>@Model.AgeInYears</td>
                        </tr>
                        <tr>
                            <th>Was it a leap year</th>
                            <td>@Model.IsLeapYear</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

